<?xml version="1.0" encoding="UTF-8"?>
<plugin title="pentaho-geo" loader="OVERRIDING">

  <lifecycle-listener class="com.pentaho.geo.service.GeoLifecycleListener"/>

  <static-paths>
    <static-path url="/pentaho-geo/resources" localFolder="resources"/>
  </static-paths>

  <content-generator scope="session" id="geojson" type="geojson">
    <classname>com.pentaho.geo.service.GeoContentGenerator</classname>
    <title>Geo SErvice</title>
  </content-generator>

  <content-generator scope="session" id="geoprint" type="geoprint">
    <classname>com.pentaho.geo.service.GeoMapContentGenerator</classname>
    <title>Geo Map Renderer</title>
  </content-generator>

  <content-generator scope="session" id="geomapexport" type="geomapexport">
    <classname>com.pentaho.geo.service.GeoMapExportContentGenerator</classname>
    <title>Geo Map Exporter</title>
  </content-generator>

  <webservice
      id="GeoService"
      type="xml"
      class="com.pentaho.geo.service.DefaultGeoService"/>

  <external-resources>
    <file context="requirejs">content/pentaho-geo/resources/web/geo-require-js-cfg.js</file>
    <file context="analyzer">content/pentaho-geo/resources/web/geo_analyzer_plugin_loader.js</file>
    <file context="analyzer">content/pentaho-geo/resources/web/openlayers_style.css</file>
    <file context="analyzer">content/pentaho-geo/resources/web/openlayers/theme/default/style.css</file>
    <file context="analyzer">content/pentaho-geo/resources/web/openlayers/OpenLayers.js</file>
    <file context="analyzer">content/pentaho-geo/resources/web/pentahogeoclient.js</file>
    <file context="analyzer">content/pentaho-geo/resources/baselayers/baselayers.js</file>
  </external-resources>
</plugin>